body{
  margin: 2% 5%;
  background-color: rgb(62, 62, 62);
  border-radius: 5px;
}
h2{
  color:aqua;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px;
  height: 15px;

}
.description{
  color: aliceblue;
  padding: 15px;
  height:auto;
}
