body{
  background-image: linear-gradient(to bottom right, #d0d0ac, #d8a84e);
  border-radius: 1px;
  margin: 2px 2px 2px 2px;
}

/* Clip text element */
.clip-text {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position:relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  background-image:url("../assets/img/minialbufera.jpg");
}

ul a{
margin:  0 20% 0 20%;
padding: 16px 30% 16px 30%;
background-color: #f1f1f1;
border-radius: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
}

nav li{
  text-decoration: none;
  width: 30%;
  display: inline-block;
  border-radius: 30%;
  color: #000;
  padding: 10px 5px 10px 5px;
}

li a:hover {
  background-color: #555;
  color: white;
}

img{
  max-width: 10%;
 max-height: 10%;
  display: block;
  margin: auto;
}
