<body>
  <h2>El inicio soy yo ahora</h2>
<div class="info">
  <p>Claramente <b>DvD soy yo</b>, David Luna Acosta. Nacido en el siglo pasado en un lugar muy lejano de donde estoy. Y<b> soy mi propio proyecto</b>, en construcción y evolución continua, al igual que cada proyecto debe ir adaptándose.</p>
  <img class="imagen" src="./assets/img/botes.jpg"
  alt="Calle cuidad Mendoza">
  <p>Tanto debido a las necesidades requeridas para avanzar en conocimientos y comunicación con el resto, como también adaptándome por impulso de entender que mas hay, que mas se puede conseguir en este mundo que no para, ni debe parar de avanzar.
  </p>
  <img class="imagen" src="./assets/img/iguazo.jpg"
  alt="Coche atardecer">
  <p>La tecnología me ha ido invadiendo y he comprendido que la necesito, pero ella también necesita de mi humanidad, de nuestra humanidad.
    Este pequeño proyecto representa como quisiera que la tecnología pudiera expresar lo que soy, y como me gustaría que sea junto a los hombres y mujeres que la hacen.</p>
  <img class="imagen" src="./assets/img/peritomoreno.jpg"
  alt="Coche atardecer">
</div>

<div class="lateral">
<p>Nacido en Mendoza, Argentina en 1983. Actualmente vivo casado en Silla, Valencia y donde creo que podré vivir muchos años mas.
  Mi vida es ordenada pero va evolucionando continuamente.
  </p>
<img class="imagen" src="./assets/img/DavidPrimerplano.jpg" alt="iguazu">

</div>
</body>
